name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main # Change this if your production branch is different

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/your-project-folder
            git pull origin main
            export NODE_OPTIONS="--max-old-space-size=4096" # Prevents the "Killed" error
            npm install
            npm run build
            pm2 restart all  # Or your specific process name
